
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>팀 프로젝트</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.css">

    <link rel="stylesheet" href="vendors/iconly/bold.css">

    <link rel="stylesheet" href="vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="css/app.css">
    <link rel="shortcut icon" href="images/favicon.svg" type="image/x-icon">
</head>

<body>
    <div id="app">
		
		<!-- 사이드 메뉴바-->
		<div th:replace="~{sidebar :: sidebar}"></div>
		
		<!-- 메인 content -->
		<div th:replace="~{main :: main}"></div>
		
      
<!--            <footer>-->
<!--                <div class="footer clearfix mb-0 text-muted">-->
<!--                    <div class="float-start">-->
<!--                        <p>2021 &copy; Mazer</p>-->
<!--                    </div>-->
<!--                    <div class="float-end">-->
<!--                        <p>Crafted with <span class="text-danger"><i class="bi bi-heart"></i></span> by <a-->
<!--                                href="http://ahmadsaugi.com">A. Saugi</a></p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </footer>-->
        </div>
    </div>
    <script src="vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>

    <script src="vendors/apexcharts/apexcharts.js"></script>
    <script src="js/pages/dashboard.js"></script>

    <script src="js/main.js"></script>
</body>

</html>